name: CI Backend 

on:
  workflow_dispatch:

  pull_request:
    branches:
      - main
    paths:
      - "starter/backend/**"

jobs:
  lint:
    name: Lint backend
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install pipenv
        run: pip install pipenv

      - name: Install dependencies
        working-directory: starter/backend
        run: pipenv install --dev

      - name: Run lint
        working-directory: starter/backend
        run: pipenv run lint

  test:
    name: Test backend
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
         python-version: "3.10"

      - name: Install pipenv
        run: pip install pipenv
 
      - name: Install dependencies
        working-directory: starter/backend
        run: pipenv install --dev
 
      - name: Run tests
        working-directory: starter/backend
        run: pipenv run test


  build:
    name: Build Backend
    runs-on: ubuntu-latest
    needs: [lint, test]

    steps:
     - name: Checkout code
       uses: actions/checkout@v4
        
     - name: Build Docker image
       working-directory: starter/backend
       run: docker build -t mp-backend:ci .
       
